@charset "UTF-8";
/* CSS Document */
/*==========第一步：清间距，清样式===========*/
body, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, dl, dd, dt, input, nav, header, section, figure, figcaption {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none;
  border: none;
  padding: 0;
  margin: 0; }

input {
  outline: none;
  border: none; }

img {
  display: inline-block;
  border: 0; }

/*==========第二步：定义全局样式=============*/
body {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #3e3e3e;
  background: #fff; }

/*==========第三步：定义超链接==============*/
a {
  text-decoration: none;
  color: #909090; }

a:hover {
  text-decoration: underline;
  color: #f60; }

/*============公共样式============*/
.w {
  width: 1000px;
  margin: 0 auto; }

.l {
  float: left; }

.r {
  float: right; }

.denglu-box1 {
  height: 120px; }
  .denglu-box1 img {
    margin-top: 16px;
    float: left; }
  .denglu-box1 .q1 {
    width: 200px;
    height: 44px;
    line-height: 44px;
    float: left;
    border-left: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 5px;
    padding-left: 10px; }
  .denglu-box1 .q2 {
    float: right;
    line-height: 44px;
    margin-top: 20px; }
    .denglu-box1 .q2 a {
      padding: 0 5px;
      color: #f00; }
    .denglu-box1 .q2 a:hover {
      background: red;
      color: #fff; }

.denglu-box2 {
  height: 350px;
  border: 1px solid #ccc; }
  .denglu-box2 img {
    float: left; }
  .denglu-box2 .denglu-box2-all1 {
    padding: 0 80px;
    width: 320px;
    height: 350px;
    float: right; }
    .denglu-box2 .denglu-box2-all1 .w1 {
      height: 80px; }
      .denglu-box2 .denglu-box2-all1 .w1 div {
        float: left;
        line-height: 37px;
        width: 160px;
        text-align: center;
        margin-top: 23px;
        font-size: 20px;
        border-bottom: 2px solid #ccc; }
    .denglu-box2 .denglu-box2-all1 input {
      width: 313px;
      height: 40px;
      padding-left: 5px;
      border: 1px solid #000; }
    .denglu-box2 .denglu-box2-all1 input:nth-of-type(2) {
      margin-top: 10px; }
    .denglu-box2 .denglu-box2-all1 .w2 {
      margin-top: 15px;
      height: 30px; }
      .denglu-box2 .denglu-box2-all1 .w2 div:nth-child(1) {
        float: left; }
      .denglu-box2 .denglu-box2-all1 .w2 div:nth-child(2) {
        float: right; }
        .denglu-box2 .denglu-box2-all1 .w2 div:nth-child(2) a {
          color: #134ba0; }
    .denglu-box2 .denglu-box2-all1 .w3 {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: #db2e2e;
      text-align: center;
      border-radius: 3px; }
    .denglu-box2 .denglu-box2-all1 p {
      line-height: 40px;
      text-align: center; }

.denglu-box3 {
  height: 150px;
  border-bottom: 1px solid #000; }

.denglu-box4 ul li {
  float: left;
  height: 40px;
  line-height: 40px; }
  .denglu-box4 ul li a {
    padding: 0 10px;
    border-left: 1px solid #ccc; }

.denglu-box4 li:nth-child(1) a {
  padding-left: 0;
  border: 0; }

.denglu-box4 p {
  line-height: 40px; }
